
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  background-image: url("bubbles.png"); /* The image used */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin: 20px;
}

.nav-bar{
    display: grid;
    grid-template-columns: 120px 120px auto 100px 100px;
    margin-top: 20px;

}
.word-order{
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}
.welcome{
margin-top: 10px;
border-top: 30%;
}
.container-homepage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
}
.container-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-row{
  display: flex;
  justify-content: center;
}
.logo-home{
    height: 100px;
    width: 100px;
    margin-right: 4px;
}
.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
}
input{
    border-color: #e5464b;
    border-radius: 10rem;
    padding-left: 2rem;
    margin: 10px;
    height: 2rem;
}
.question{
  margin-left: 10px;
}
.search-category{
  display: flex;
  flex-direction: column;

  margin: 10px;
}
.letters{
        margin-bottom:0px;
        margin-top: 1px;
        color: #e5464b;
}
button{
    background-color: #e5464b;
    font-style: white;
    height: 40px;
    width: 170px;
    border-radius: 10rem;
  }
.call-to-action{
  color: white;
  font-size: 15px;
  font-style: bold;
}
    
.vibrate-1 {
	-webkit-animation: vibrate-1 2s linear infinite both;
	        animation: vibrate-1 2s linear infinite both;
}
.pic{
    height: 200px;
    width: 160px;
    margin-right: 10px;
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.details{
    width: 300px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 5px rgba(229, 70, 75, 0.9);
}
.results-title{
 color: #e89d5c
}
.result-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.result-col{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
h2, h4{
  margin: 3px;
}
/* OVERVIEW*/
      
.overview {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview .overview-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.overview .overview-content {
  position: relative;
  background: white;
  width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
} 
.overview .overview-content {
  padding: 2rem;
}
.overview-details{
  display: flex;
  flex-direction: row;
  padding: 2rem;
}
.overview-number-rating{
  position: absolute;
  margin-left: 1.9rem;
  margin-top: 1.74rem;
  font-style: bold;
}
.overview-rating{
  height: 120px;
  width: 120px;
  position: relative;
  margin-right: 20px;
}

.overview-star{
  height: 80px;
  width: 80px;
  position: absolute
}
.overview .overview-content .backdrop-image{
  width: 100%;
}
.overview .overview-content .poster-image{
  width: 200px;
  position: absolute;
  top: 4rem;
  left: 2rem;
  border: 0.5rem solid white;
  
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.overview .overview-content .close{
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.partner-logo{
  height: 50px;
  margin: 5px;
}

    
/*ANIMATION*/

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.swing-out-top-bck{
	-webkit-animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-27 20:39:22
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
        0% {
          -webkit-transform: translate(0);
                  transform: translate(0);
        }
        20% {
          -webkit-transform: translate(-2px, 2px);
                  transform: translate(-2px, 2px);
        }
        40% {
          -webkit-transform: translate(-2px, -2px);
                  transform: translate(-2px, -2px);
        }
        60% {
          -webkit-transform: translate(2px, 2px);
                  transform: translate(2px, 2px);
        }
        80% {
          -webkit-transform: translate(2px, -2px);
                  transform: translate(2px, -2px);
        }
        100% {
          -webkit-transform: translate(0);
                  transform: translate(0);
        }
      }
      @keyframes vibrate-1 {
        0% {
          -webkit-transform: translate(0);
                  transform: translate(0);
        }
        20% {
          -webkit-transform: translate(-2px, 2px);
                  transform: translate(-2px, 2px);
        }
        40% {
          -webkit-transform: translate(-2px, -2px);
                  transform: translate(-2px, -2px);
        }
        60% {
          -webkit-transform: translate(2px, 2px);
                  transform: translate(2px, 2px);
        }
        80% {
          -webkit-transform: translate(2px, -2px);
                  transform: translate(2px, -2px);
        }
        100% {
          -webkit-transform: translate(0);
                  transform: translate(0);
        }
      }
/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation swing-out-top-bck
 * ----------------------------------------
 */
 @-webkit-keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}
@keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}



  
